appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
cx-Freeze==6.3
cx-logging==2.2
idna==2.10
importlib-metadata==2.0.0
pafy==0.5.5
passlib==1.7.4
Pillow==8.0.1
pynput==1.7.1
pypiwin32==223
pypresence==4.0.0
python-vlc==3.0.11115
pywin32==228
requests==2.25.1
semantic-version==2.8.5
six==1.15.0
ttkthemes==3.1.1
urllib3==1.26.2
win10toast-withsound==0.9
youtube-dl==2020.12.2
zipp==3.4.0
